{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/index.css"/>
{{/extend}}
<div style="display: none;" id="accessToken">{{accessToken}}</div>
<div style="display: none;" id="tokenExpiration">{{tokenExpiration}}</div>
<div class="navbar navbar-inverse navbar-fixed-top" id="app-nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{appName}}</a>
            <div class="nav-collapse collapse">
                {{#if username}}
                    <p class="navbar-text pull-right" id="username">Logged in as: {{username}}</p>
                {{else}}
                    <p class="navbar-text pull-right" id="username"><p>
                {{/if}}
                <ul class="nav">
                    <!--
                    <li class="active"><a href="#dashboard">Dashboard</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="primary">
    <div id="ss-loading">
        <h1>Loading...</h1>
    </div>
</div>
{{#extend "scripts"}}
<script src="/js/base.js"></script>
{{/extend}}
